<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-12 col-lg-8">
      <div class="card">
        <section class="card-body">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>

          <%= form_for(resource, as: resource_name,
                       url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <%= f.label :first_name %><br/>
                  <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <%= f.label :last_name %><br/>
                  <%= f.text_field :last_name, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <%= f.label :email %>
                <div class="form-group">
                  <%= f.email_field :email, autocomplete: 'email', class: 'form-control' %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div><%= t('waiting_confirmation_for') %>: <%= resource.unconfirmed_email %></div>
                <% end %>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <%= f.label :current_password %>
                  <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row">
              <a class="btn btn-link"
                 data-toggle="collapse"
                 href="#newPassword"
                 role="button"
                 aria-expanded="false"
                 aria-controls="newPassword">
                Set a new password
              </a>
            </div>
            <div class="collapse" id="newPassword">
              <% if @minimum_password_length %>
                <em>(<%= "#{@minimum_password_length} #{t('min_char')}" %>)</em>
              <% end %>
              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <%= f.label :password %> <br/>
                    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <%= f.label :password_confirmation %><br/>
                    <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control' %>
                  </div>
                </div>
              </div>
            </div>

            <div class="actions">
              <%= f.submit t('update'), class: 'btn btn-primary btn-block' %>
            </div>
          <% end %>
        </section>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col col-md-6 col-lg-4">
      <div class="card">
        <section class="card-body">
          <h3>Cancel my account</h3>

          <p><%= t('unhappy') %>? 🥺</p>
          <%= button_to t('auth.cancel_my_account'),
                        registration_path(resource_name),
                        data: { confirm: t('confirm') },
                        method: :delete,
                        class: 'btn btn-danger btn-block' %>
        </section>
      </div>
    </div>
  </div>
</div>
