<div class="row display-6">
  <div class="col-3">
    <i class="<%= presenter.result_link_type_icon :ads_top %>"></i>
    <%= presenter.ads_top_count %>
  </div>
  <div class="col-3">
    <i class="<%= presenter.result_link_type_icon :ads_page %>"></i>
    <%= presenter.ads_page_count %>
  </div>
  <div class="col-3">
    <i class="<%= presenter.result_link_type_icon :non_ads %>"></i>
    <%= presenter.non_ads_result_count %>
  </div>
  <div class="col-3">
    <i class="<%= presenter.result_link_type_icon :total_link_count %>"></i>
    <%= presenter.total_link_count %>
  </div>
</div>
