<!DOCTYPE html>
<html class="layout-default" lang='<%= I18n.locale %>' data-turbo="false" >
<head>
  <title><%= t('app_name') %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>
<body>
<div class="d-flex flex-column sticky-footer-wrapper min-vh-100">
  <%= render 'shared/header' %>
  <main class="flex-fill">
    <%= render 'shared/alert' %>
    <%= yield %>
  </main>
  <%= render 'shared/footer' %>
</div>
</body>
</html>
