<!DOCTYPE html>
<html lang='<%= I18n.locale %>'>
<body>
  <% if user_signed_in? %>
    <%= button_to t('logout'), destroy_user_session_path, method: :delete  %>
  <% else %>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <%= image_tag 'logo.svg', class:'d-inline-block align-top', width: 30, height: 30, alt: 'Google Search Ruby application' %>
        Google Search Ruby
      </a>
    </nav>
  <% end %>
  <div class="container mt-2">
    <div class="row justify-content-center">
      <% if notice %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-warning"><%= alert %></p>
      <% end %>
    </div>
  </div>
  <%= yield %>
</body>

  <head>
    <title>Google Search Ruby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
</html>
